# logs
logs/

# env-related dev files
*.pyc
.vscode/
*/__pycache__/

# project-related dev files
readme_dev/
bin/*.conf*
bin/uwsgi.*
bin/supervisor/
bin/setup/*.py
bin/nginx/

# precipstat: private files
precipstat/*bot.py
precipstat/migrations/
precipstat/testtools/

# misc
windygram/settings*.py
viewer/migrations/
static/admin/
